/* App.css */
body {
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #6388db, #584e56);
  font-family: Arial, sans-serif;
  align-items: center;
}

.App {
    background-color: #f4edfa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    width: 500px;
}

h1 {
  color: #de3685;;
  font-size: 1.3em;
}

